<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cityjungle" version="1.0.0">
  <name>HelloWorld</name>
  <description>
   A sample Tabris.js application.
  </description>
  <author email="dev@tabrisjs.com" href="https://tabrisjs.com">
   Tabris.js Team
  </author>
  <plugin name="com.eclipsesource.tabris.maps" spec="https://github.com/eclipsesource/tabris-maps.git">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyA6OBVWXtpHBeRC-jUqFG2NjEig_sJMYSg" />
  </plugin>
</widget>